.menuTitle {
    color: red;
}

.websites {
    display: inline-flex;
    background-color:#4c4c53;
}

img {
    width:270px;
    height: auto;
}

#red_potion {
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .websites {
        flex-direction: column;
    }

    #red_potion {
        width: 150px;
        height: 150px;
    }

    #green_potion {
        width: 150px;
        height: 140px;
    }
}